.squareAccentButton {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    fill: #EBEBEB;

    background-color: #673AB7;

    border-radius: 5px;
}

.squareAccentButton:hover {
    transition: .2s;

    background-color: #1E1E1E;
}