.header {
    height: 100px;

    padding-left: 50px;
    padding-right: 50px;

    grid-column: 1 / 1;
    grid-row: 1 / 1;

    background-color: #D1D1D1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}